[submodule "pygeoogc"]
	path = pygeoogc
	url = https://github.com/cheginit/pygeoogc.git
[submodule "pygeoutils"]
	path = pygeoutils
	url = https://github.com/cheginit/pygeoutils.git
[submodule "pynhd"]
	path = pynhd
	url = https://github.com/cheginit/pynhd.git
[submodule "py3dep"]
	path = py3dep
	url = https://github.com/cheginit/py3dep.git
[submodule "pygeohydro"]
	path = pygeohydro
	url = https://github.com/cheginit/pygeohydro.git
[submodule "pydaymet"]
	path = pydaymet
	url = https://github.com/cheginit/pydaymet.git
