[submodule "pygeoogc"]
	path = pygeoogc
	url = https://github.com/hyriver/pygeoogc.git
	branch = main
[submodule "pygeoutils"]
	path = pygeoutils
	url = https://github.com/hyriver/pygeoutils.git
	branch = main
[submodule "pynhd"]
	path = pynhd
	url = https://github.com/hyriver/pynhd.git
	branch = main
[submodule "py3dep"]
	path = py3dep
	url = https://github.com/hyriver/py3dep.git
	branch = main
[submodule "pygeohydro"]
	path = pygeohydro
	url = https://github.com/hyriver/pygeohydro.git
	branch = main
[submodule "pydaymet"]
	path = pydaymet
	url = https://github.com/hyriver/pydaymet.git
	branch = main
[submodule "docs/source/examples"]
	path = docs/source/examples
	url = https://github.com/hyriver/HyRiver-examples
	branch = main
[submodule "async-retriever"]
	path = async-retriever
	url = https://github.com/hyriver/async-retriever.git
[submodule "hydrosignatures"]
	path = hydrosignatures
	url = https://github.com/hyriver/hydrosignatures
[submodule "pynldas2"]
	path = pynldas2
	url = https://github.com/hyriver/pynldas2
