ipykernel
ipython
ipywidgets
jupyter_client
nbsphinx
Pillow
pydata-sphinx-theme
sphinx
sphinx-autoapi
sphinx-copybutton
sphinx-design
sphinx-favicon
sphinx-gallery
sphinx-togglebutton
sphinxcontrib-bibtex
sphinxext-opengraph
