ipykernel
ipython
ipywidgets
jupyter_client
nbformat
nbsphinx
pygithub
sphinx
sphinx-autoapi
sphinx-book-theme
sphinx-book-theme
sphinx-copybutton
sphinx-design
sphinx-gallery
sphinxcontrib-bibtex
sphinxext-opengraph
